<!DOCTYPE html>
<html>
<head>
  <title>TrabajoUniv</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="contenido">
  <%= link_to "Inicio", definicion_path(1)%>|
  <%= link_to "Listado", root_path%>
  <%= yield %>
</div>


</body>
</html>
